<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>TMS - Department Admin</title>
</head>
<body>
	<div class="container">
	
		<h3>Department Form</h3>
		<hr>
		
		<p class="h4 mb-4">Save Department</p>
	
		<form th:action="@{/admin/saveDepartment}" th:object="${department}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{createdAt}" />
			<input type="hidden" th:field="*{updatedAt}" />
			
			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="Name">

			<input type="text" th:field="*{description}"
					class="form-control mb-4 col-4" placeholder="Description">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/admin/list}">Back to Admin List</a>
		
	</div>
</body>
</html>